body {
    background: black;
    overflow: hidden;
    margin: 0;
    
}
canvas{
  position: absolute;
  z-index: -1;
  overflow: hidden;
}
/*=====Navbar===========*/
.navbar .nav-link{
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 16px !important;
    padding-right: 16px !important;
    
}
.navbar-toggler{
    outline: none !important;
}
.bg-black{
    background: rgba(0, 0, 0.89);
}
.navbar-brand{
    text-align:start;
}
.nav-item{
    float: right;
}
a{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #5800FF;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
   
}
a:hover{
    background: #5800FF;
    color: #000000;
    box-shadow: 0 0 5px #5800FF,
                0 0 25px #5800FF,
                0 0 50px #5800FF,
                0 0 200px #5800FF;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}



/*=======Products section=======*/
#products{
    background:rgba(0, 0, 0, 0);
    position: absolute;
    z-index: 1;
    margin-left: 20%;
    margin-right: auto;
  }
  .product-title{
    font-family: Arial, Helvetica, sans-serif;
    animation: neon5 1.5s ease-in-out infinite alternate;
    text-align: center;
    font-size: 7em;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1;
    text-decoration: none;
    color: #fff;
  }
  @keyframes neon5 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFC600,
        0 0 70px #FFC600, 0 0 80px #FFC600, 0 0 100px #FFC600, 0 0 150px #FFC600;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFC600,
        0 0 35px #FFC600, 0 0 40px #FFC600, 0 0 50px #FFC600, 0 0 75px #FFC600;
    }
  }
  



/* Float Shadow */
.single-item {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgb(247, 241, 241);
  position: relative;
  transition-duration: 0.3s;
  transition-property: transform;
  cursor: pointer;
}
.single-item:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
   background: radial-gradient(ellipse at center, rgba(248, 248, 248, 0.35) 0%, rgba(247, 244, 244, 0) 80%);
   transition-duration: 0.3s;
  transition-property: transform, opacity;
}
.single-item:hover, .single-item:focus, .single-item:active {
    transform: translateY(-5px);
  /* move the element up by 5px */
}
.single-item:hover:before, .single-item:focus:before, .single-item:active:before {
  opacity: 1;
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
.img-container{
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: #000000;
}

/* Grow Shadow */
.img-container{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.img-container:hover, .product-img:focus, .product-img:active {
   box-shadow: 1px 0px 1px 4px rgba(247, 243, 243, 0.932);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

  /*===End of Product Section==========*/






 